## variable ##

- variable is used to store a value

- variable can change their value

- in python latest value

- python is a step by step process

In [1]:
num=10
num


# comment
# bolue 10 stored in variable called 'num'

10

In [2]:
NUM=100
NUM

100

In [3]:
NUMber=100
NUMber

100

In [4]:
number123=300
number123

300

In [5]:
number@one=500
number@one

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2656721176.py, line 1)

In [6]:
number one=600
number one

SyntaxError: invalid syntax (1569520581.py, line 1)

- variables can cse sensitive

- in variable the character must be define

- the variable always come first

- if number come first in variable it get syntax error

- if space comes in between the variable it's get also syntax error

- if any special character is use in variable it also get syntax error

- only underscore _ can be a variable

### variable

In [7]:
_=800

In [8]:
_

800

In [9]:
a_s_a_d=1000
a_s_a_d

1000

- variable are case sensitive

- variable can be capital and non-capital

- variable does not allow spl character except underscore

- only underscore_ can be a variable

- variable does not constain space between the words

- variable can not contain number as prefix ex:123num

- variable can have numbers as sufflix ex: num123

- variables does not contain any keyword